PORT=9146
SERVICE_NAME=am
HTTP_PROXY=
HTTPS_PROXY=
FTP_PROXY=
http_proxy=
https_proxy=
ftp_proxy=
NO_PROXY=localhost,127.0.0.1
ICECAST_URL=
ICECAST_USERNAME=
ICECAST_PASSWORD=
SCRAPE_INTERVAL=30s
WEB_LISTEN_ADDRESS=9146
WEB_TELEMETRY_PATH=/metrics